Repository inertiajs/inertia, pull requests merged in 2021-03, with the labels that each got.

#529 Replace nested hack with render component
  packages/inertia-svelte/src/App.svelte
  packages/inertia-svelte/src/Render.svelte
  packages/inertia-svelte/src/index.js
Labels: svelte

#573 Improve react form helper keys
  packages/inertia-react/src/useForm.js
Labels: react

#306 Fix inertia-link crashing when self-closing
  packages/inertia-vue3/src/link.js
Labels: bug, vue 3

#575 Automatically remember form data and errors
  packages/inertia-react/src/useForm.js
  packages/inertia-svelte/src/useForm.js
  packages/inertia-vue/package.json
  packages/inertia-vue/src/form.js
  packages/inertia-vue/src/remember.js
  packages/inertia-vue3/package.json
  packages/inertia-vue3/src/app.js
  packages/inertia-vue3/src/index.js
  packages/inertia-vue3/src/remember.js
  packages/inertia-vue3/src/useForm.js
  packages/inertia-vue3/src/useRemember.js
Labels: react, svelte, vue 2, vue 3
