Repository inertiajs/inertia, pull requests merged in 2024-09, with the labels that each got.

#1963 [Svelte] Improve typescript types + minor fixes
  package-lock.json
  packages/svelte/package.json
  packages/svelte/src/lib/components/App.svelte
  packages/svelte/src/lib/components/Render.svelte
  packages/svelte/src/lib/components/SSR.svelte
  packages/svelte/src/lib/createInertiaApp.ts
  packages/svelte/src/lib/index.ts
  packages/svelte/src/lib/store.ts
  packages/svelte/src/lib/types.ts
  packages/svelte/src/lib/useForm.ts
Labels: svelte

#1941 [1.x] Fix 'received an unexpected slot "default"' warning
  CHANGELOG.md
  packages/svelte/src/lib/components/Render.svelte
Labels: svelte

#1943 [1.x] Fix <Render /> component to respect "preserveState"
  CHANGELOG.md
  packages/svelte/src/lib/components/Render.svelte
Labels: svelte

#1728 [1.x] Fix doubling hash in React StrictMode
  packages/core/src/router.ts
Labels: core

#1360 [1.x] preserveScroll should be true on initial page visit
  packages/core/src/router.ts
Labels: core

#1607 [1.x] Fix useForm re-renders by memoizing functions in React
  packages/react/src/useForm.ts
Labels: react

#1782 [1.x] Fix [scroll-region] on html element with overflow-scroll
  packages/core/src/router.ts
Labels: core

#1969 [1.x] Fix props reactivity
  CHANGELOG.md
  packages/svelte/src/lib/components/App.svelte
  packages/svelte/src/lib/components/Render.svelte
  packages/svelte/src/lib/createInertiaApp.ts
  packages/svelte/src/lib/store.ts
Labels: svelte

#1985 [1.x] Fix isDirty after form.defaults() call in Vue
  packages/vue2/src/useForm.ts
  packages/vue3/src/useForm.ts
Labels: vue 2, vue 3

#1715 [1.x] Return early when using `router.on()` during SSR
  packages/core/src/router.ts
Labels: core

#1596 [1.x] Export `InertiaFormProps` in the React adapter
  packages/react/src/index.ts
Labels: react

#1984 [1.x] Fix history navigation issue on Chrome iOS
  packages/core/src/router.ts
Labels: core

#1734 [1.x] Export InertiaFormProps in Vue and Svelte Adapters
  packages/svelte/src/lib/index.ts
  packages/svelte/src/lib/useForm.ts
  packages/vue2/src/index.ts
  packages/vue2/src/useForm.ts
  packages/vue3/src/index.ts
  packages/vue3/src/useForm.ts
Labels: vue 2, svelte, vue 3
