Repository inertiajs/inertia, pull requests merged in 2025-08, with the labels that each got.

#2475 Further TS improvements for `useForm`
  packages/core/src/types.ts
  packages/react/src/useForm.ts
  packages/svelte/src/useForm.ts
  packages/vue3/src/useForm.ts
  pnpm-lock.yaml
Labels: typescript

#2500 Remove failed prefetch requests from in-flight array
  package.json
  packages/core/src/prefetched.ts
  packages/core/src/request.ts
  packages/core/src/requestParams.ts
  packages/core/src/types.ts
  packages/react/test-app/Pages/Prefetch/AfterError.tsx
  packages/svelte/test-app/Pages/Prefetch/AfterError.svelte
  packages/vue3/test-app/Pages/Prefetch/AfterError.vue
  tests/app/server.js
  tests/prefetch.spec.ts
Labels: core, prefetching

#2520 [v2.x] fix: type error by changing page props type to `any`
  packages/svelte/src/page.ts
  packages/svelte/test-app/Pages/Svelte/PropsAndPageStore.svelte
  tests/svelte.spec.ts
Labels: svelte, needs more info/work

#2470 improve typescript configuration
  packages/core/package.json
  packages/core/tsconfig.json
  packages/react/package.json
  packages/react/tsconfig.json
  packages/vue3/package.json
  packages/vue3/tsconfig.json
Labels: typescript
